
@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Areas/Admin/Views/Shared/AdminLayout.cshtml";
}

<div class="text-center">
<h1>Dashboard</h1>
<h6> Welcome @TempData.Peek("UserName")</h6>
</div>  
